body { background-image: url(Stars\ 2.jpg)}
body {
    color: white;
}
a:link {
    color: white;
}
a:visited {
    color: tan;
}
a:hover {
    color: white;
}
h1 {
    text-align: center;
    font-size: 4em;
    color: tan;
    font-family: 'Nanum Brush Script', cursive;
font-family: 'Notable', sans-serif;
}
p {
    text-align: center;
    font-family: 'Nanum Brush Script', cursive;
font-family: 'Notable', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}
#Andor {
  width: 300px;
  vertical-align: middle;
  position: relative;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .active {
    background-color: black;
  }